# Dependency
/vendor/
/composer.lock

# Tests
/.phpunit.result.cache
/.phpunit.cache/
/build/
/coverage/

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
.env.local
.env.*.local

# Logs
*.log
/storage/logs/*.log

# PHP CS Fixer
/.php-cs-fixer.cache

# PHPStan
/.phpstan.cache

# Coverage reports
/coverage/
*.html

archify-candidate.json
laravel-kafka-*

开发文档*.md
kafka入门*.md
LaravelKafka*.md
/RFC/*.md
/docs/开发日志*.md
/diagrams/*
