<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    cacheDirectory=".phpunit.cache"
    executionOrder="random"
    resolveDependencies="true"
    failOnDeprecation="false"
    failOnNotice="false"
    failOnWarning="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/Container/</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="KAFKA_BROKERS" value="localhost:9092"/>
        <env name="KAFKA_DEFAULT_TOPIC" value="laravel-jobs-test"/>
        <env name="KAFKA_FAILED_DRIVER" value="hybrid"/>
    </php>
</phpunit>
